/**-- MAKIN 2015-2016 **/

$fontsizedefault: 10pt;
$pagemaxwidth: 480px;
#somethingelse{
	background:white;
	box-sizing: border-box; // like old internet explorer sizing
	width:100%;
	min-height:100%;
	padding: 5%;
	font-size: $fontsizedefault;
}
.centerer, .mid, .center{
	text-align: center;
}
.lefter, .left{
	text-align:left;
}
.righter, .right{
	text-align:right;
}
div.full{
	display:block;
}
button.full, input.full{
	width:99%;
}
.half{
	display:inline-block;
	width:49.5%;
}
div.inline{
	display:inline-block;
}
.grid-container{
	font-size:0px;
	.dummy{clear:both;}
	div {
		font-size:$fontsizedefault;
	}
	.half{
		display:inline-block;
		width:49.5%;
		font-size:$fontsizedefault;
	}
}
.template{
	display:none;
}
.hr{
	display:block;
	height:2px;
	min-width:95%;
	background:#5C5C5C;
}
#page-container{
	/*defined in style.js*/
	display:block;
	width:300%;
	position:absolute;
	font-size:0px;
	height:80%;
	overflow-y:scroll;
	.dummy{clear:both;}
	&>div{
		font-size:$fontsizedefault;
		display:inline-block;
		vertical-align:top;
	}
	#page{
	}
	#page-left{
	}
	#page-right{
	}
}
.space-vertical-2{
	display:block;
	height:#{$fontsizedefault*1}; /* it is defined in style.js, data-space= attribute is used */
}

button{
	padding:0.4em 0.6em;
	border:solid 1px #bbbbbb;
	background-color:#efefef;
	border-radius:0.1em;
}
button:active{
	border:solid 1px #bbbbbb;
	background-color:#DEDEDE;
}

/** room home **/
.main{
	max-width:$pagemaxwidth;
	margin:0px auto;
}
.dot{
	position:absolute;
	background:black;
	width:5px;
	height:5px;
}
#room_list_container{
	display:none;
	position:absolute;
	right:0px;
	top:3.5em;
	width:100%;
	padding:0.1em 0em;
	z-index:2;
	background:#efefef;
	.dummy{top:0px;}
/*
	#room_list{
		text-align:center;
	}
*/
	button{
		display:block;
		width:20em;
		margin:0px auto;
		padding-top:1em;
		padding-bottom:1em;
		margin-bottom:1px;
	}
}
.button_small{
	font-weight:normal;
	padding:3px;
	background-color:white;
	border:solid 1px #efefef;
	font-size:0.8em;
}
.ui-slider-switch { width: 17em!important; }

@for $i from 1 through 9 {
	.w#{$i} {
		width: #{$i*10%};
	}
}
.fr {
	padding-bottom:0.8em;
	.dummy{}
	&>.main{
		padding-bottom:4.5em;
	}
	input{
		width:99%;
		font-size:1.3em;
		height:1.5em;
		text-align:center;
		border:solid 1px #C4C4C4;
		border-radius:0px;
	}
	button.getpopup{
		width:99% !important;
		font-size:1.2em !important;
		height:2em !important;
		text-align:center !important;
		border:solid 1px #C4C4C4 !important;
		border-radius:0px !important;
		background:white!important;
		font-weight:normal!important;
	}
	button{
		font-size:1.3em;
		min-width:100px;
		font-weight:normal;
		.dummy{}
		&>.notfull{
			width:40%;
		}
		&>.full{
			width:90%;
		}
		&>.half{
			width:50%;
		}
	}
	label{
		margin:-0.4em 0px 0.4em 0px !important;
		font-size:$fontsizedefault!important;
	}
	div.full{
		margin-top:0.8em;
	}
}
/*
input.fr {
	width:99%;
}
*/
#account_list{
}
.popup_container{
	display:none;
	z-index:3;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);

	.dummy{}
	.popup{
		display:none;
		position:absolute;
		width:90%;
		max-width:$pagemaxwidth;
		top:5%;
		left:5%;
		background:#ffffff;
		box-shadow:
			0px 1px 70px rgba(000,000,000,0.5),
			inset 0px 0px 70px rgba(255,255,255,1);

	}
}
.ui-datepicker{
	font-size:1.1em!important;
}
