$fontsizedefault: 10pt;
.page{
	background:white;
	box-sizing: border-box; // like old internet explorer sizing
	width:100%;
	min-height:100%;
	padding: 5%;
	font-size: $fontsizedefault;
}
.centerer, .mid, .center{
	text-align: center;
}
.lefter, .left{
	text-align:left;
}
.righter, .right{
	text-align:right;
}
.full{
	display:block;
}
.half{
	display:inline-block;
	width:49.5%;
}
.grid-container{
	font-size:0px;
	div {font-size:$fontsizedefault;}
	.half{
		display:inline-block;
		width:49.5%;
		font-size:$fontsizedefault;
	}
}
.template{
	display:none;
}
.hr{
	display:block;
	height:2px;
	min-width:95%;
	background:#5C5C5C;
}
#page-container{
	display:block;
	width:100%;
	.dummy{}
	div{
		display:inline-block;
		width:100%;
	}
}
