.page {
  background: white;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 5%; }

.centerer {
  text-align: center; }

.lefter {
  text-align: left; }

.righter {
  text-align: right; }
