#somethingelse {
  background: white;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 5%;
  font-size: 10pt; }

.centerer, .mid, .center {
  text-align: center; }

.lefter, .left {
  text-align: left; }

.righter, .right {
  text-align: right; }

div.full {
  display: block; }

button.full {
  width: 99%; }

.half {
  display: inline-block;
  width: 49.5%; }

div.inline {
  display: inline-block; }

.grid-container {
  font-size: 0px; }
  .grid-container .dummy {
    clear: both; }
  .grid-container div {
    font-size: 10pt; }
  .grid-container .half {
    display: inline-block;
    width: 49.5%;
    font-size: 10pt; }

.template {
  display: none; }

.hr {
  display: block;
  height: 2px;
  min-width: 95%;
  background: #5C5C5C; }

#page-container {
  /*defined in style.js*/
  display: block;
  width: 300%;
  position: absolute;
  font-size: 0px; }
  #page-container .dummy {
    clear: both; }
  #page-container > div {
    font-size: 10pt;
    display: inline-block;
    vertical-align: top; }

.space-vertical-2 {
  display: block;
  height: 10pt;
  /* it is defined in style.js, data-space= attribute is used */ }

button {
  padding: 0.4em 0.6em;
  border: solid 2px #e0e0e0;
  background-color: #efefef;
  border-radius: 0.5em; }

/** room home **/
.main {
  max-width: 480px;
  margin: 0px auto; }

.dot {
  position: absolute;
  background: black;
  width: 5px;
  height: 5px; }

#room_list_container {
  display: none;
  position: absolute;
  right: 0px;
  top: 3.5em;
  width: 100%;
  padding: 0.1em 0em;
  z-index: 2;
  background: #efefef;
  /*
  	#room_list{
  		text-align:center;
  	}
  */ }
  #room_list_container .dummy {
    top: 0px; }
  #room_list_container button {
    display: block;
    width: 20em;
    margin: 0px auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1px; }

.button_small {
  font-weight: normal;
  padding: 3px;
  background-color: white;
  border: solid 1px #efefef;
  font-size: 0.8em; }

.ui-slider-switch {
  width: 17em !important; }
